/* CSS VARIABLES */

:root {
  --background-primary: #f3f3f3;
  --background-secondary: #cdddda;
  --text: #1f2403;
}

:root[data-theme='dark'] {
  --background-primary: #132221;
  --background-secondary: #476462;
  --text: #e1e1e1;
}

/* ZÁKLADNÍ STYLY */

*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-secondary);
  color: var(--text);
  font-family: 'Alegreya Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  align-items: baseline;
  justify-content: end;
}

ul {
  list-style-type: none;
}

li {
  line-height: 1.3;
}

span {
  line-height: 1.5;
}

/* HLAVIČKA - NAVIGACE */

.page-header {
  padding: 1.5rem;
  padding-bottom: 0;
}

.logo {
  font-size: 1.5rem;
  font-family: 'Dawning of a New Day';
  font-style: italic;
}

.navlink {
  text-decoration: none;
  margin-right: 0.5rem;
  color: var(--text)
}

/* HLAVNÍ NADPIS */

.pitch p {
  padding: 2.5rem 1.5rem;
  font-size: 2.5rem;
  font-family: 'Lora', serif;
  text-align: center;
}

/* ÚVODNÍ TEXT  */

.subheading {
  padding: 2.5rem 1.5rem;
  font-size: 1.5rem;
  max-width: 800px;
  background-color: var(--background-primary);
}

.subheading__content {
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-primary);
}

.subheading__content i {
  background-color: var(--background-primary);
}

/*img*/
.intro-image {
  background-image: url('images/arnica-intro.jpg');
  height: 70vh;
  background-position: center;
  background-size: cover;
}

/* CENOVÁ NABÍDKA */

.pricelist {
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricelist__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pricelist__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer {
  margin: 1rem 0 2rem 0;
  width: 80%;
  max-width: 270px;
}

.offer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.5rem;
}

.offer__title {
  font-size: 1.7rem;
}

.offer__price {
  font-size: 1.5rem;
}

.offer__detail {
  font-size: 1.2rem;
  list-style: circle;
  margin-left: 1.2rem;

}

/* RECENZE */

.review {
  padding: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary);
}

.review__title {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.review__content {
  display: flex;
  align-items: center;
  justify-content: center;


}

.review__text {
  padding: 2rem;
  font-size: 1.3rem;
  background-color: var(--background-primary);
  font-style: oblique;
  border: 2px var(--background-secondary) solid;
}

.review__author {
  text-align: end;
  font-style: normal;
  background-color: var(--background-primary);
}

/* PATIČKA - KONTAKT */

.footer {
  padding: 2.5rem 1.5rem;
  font-size: 1.2rem;

  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__row span {
  display: inline-block;
  height: 1.2rem;
}

.contact__label {
  width: 70px;
}

.social-media__row {
  display: flex;
  align-items: center;
}

.icon {
  height: 100%;
  margin-right: 0.5rem;
}

/* SEM ZAČNĚTE PSÁT SVÉ STYLY PRO MOBIL */

@media (min-width: 840px) {

  /* HLAVIČKA - NAVIGACE */
  .page-header {
    padding: 2rem 4rem;
    padding-bottom: 0;
  }

  .logo {
    font-size: 2.25rem;
  }

  .navlink {
    font-size: 1.5rem;
  }

  /* HLAVNÍ NADPIS */

  .pitch {
    font-size: 3rem;
  }

  /* ÚVODNÍ TEXT */

  .subheading {
    padding: 2.5rem 4rem;
    font-size: 1.75rem;
    max-width: 100%;

  }

  /* RECENZE */

  .review__text {
    width: 250px;
    padding: 1.5rem;
  }

  .pricelist__content {
    flex-direction: row;
    gap: 3rem
  }

  .offer {
    width: 220px;
  }

  .review__text,
  .review__author {
    background-color: var(--background-secondary);
  }

  .review__text {
    position: absolute;
    right: calc(250px - 60px);
  }

  .review__content {
    width: 250px;
    position: relative;
  }

  .review__photo {
    background-image: url('images/reviewer.jpg');
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
  }

  .footer {
    flex-direction: row;
    gap: 3rem;
    align-items: flex-start
  }

  /* TADY PIŠTE STYLY PRO ŠÍŘKU NAD 800PX */
}

@media (min-width: 1200px) {

  .pricelist__content,
  .footer {
    gap: 6rem
  }
}

